# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.env

# Saved models (optional, if they are too large for Git)
/saved_models/

# Data directory (optional)
/data/